<%= simple_form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :first_name, label:  "Imię:"%>
  </div>
  <div class="field">
    <%= f.input :last_name, label: "Nazwisko:" %>
  </div>
  <div class="field">
    <%= f.input :telephone, label: "Nr telefonu:" %>
  </div>
  <div class="field">
    <%= f.input :email, label: "E-mail:" %>
  </div>
  <div class="field">
    <%= f.input :content, as: :text, label: "Treść wiadomości:", :input_html => {:rows => 10} %>
  </div>
  <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
  <div class="actions">
    <%= f.button :submit, "Wyślij wiadomość" %>
  </div>
<% end %>
