<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Angielski w Aberdeen!" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  <body>

<%= favicon_link_tag "flag.png" %>

<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Angielski w Aberdeen!", home_path %></a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="left">
      <li class="divider"></li>
      <li><%= link_to "Kontakt", new_message_path %></li>
      <li><%= image_tag "flag.png", :size => "25x25" %></li>
    </ul>
  </section>
</nav>

<div class="row">
  <div class="small-8 columns"><%= yield %></div>
  <div class="small-4 columns">
    <h2 class="subheader">O mnie</h2>
    <%= image_tag "zdj.jpg" %>
    <br />
    <br />
    <p>Jestem nauczycielem języka angielskiego, mieszkającym w Aberdeen. Ukończyłem filologię angielską na jednym z najlepszych wydziałów w Polsce na Uniwersytecie Wrocławskim. Angielskiego uczyłem się w szkole i na studiach, a potem "na nowo" mieszkając w Wielkiej Brytanii - wiem, jak wygląda stres związany z przełamywaniem barier w tym zakresie.</p>
    <p>W przeciwieństwie do obcokrajowców, rdzennych Szkotów albo nauczycieli w Polsce rozumiem wszystkie problemy, jakie wiążą sie z uczeniem się języka w obcym kraju i praktycznym jego użytkowaniem.</p>
    <p>Wierzę, że każdy jest w stanie nauczyć się niezbędnego minimum i tym samym poczuć się swobodnie w codziennym życiu na Wyspach.</p>
    <h2 class="subheader">Cennik</h2>
    Lekcje indywidualne: 
    <ul>
      <li>60 min – £15</li>
      <li>90 min – £20</li>
      <li>120 min – £25</li>
    </ul>
    Lekcje w parze:
    <ul>
      <li>60 min – £10/os.</li>
      <li>90 min – £15/os.</li>
      <li>120 min – £20/os.</li>
    </ul>

    <p>W ramach ceny zapewniam materiały do nauki.</p>
    <p>Płatność z góry na każdej lekcji.</p>
    <p>Nie pobieram opłat za odwołane zajęcia pod warunkiem, że następuje to maksymalnie dzień przed zajęciami.</p>
  </div>
</div>

  </body>
</html>